Math challenge\.xcodeproj/xcuserdata/
\.DS_Store

Math challenge\.xcodeproj/project\.xcworkspace/xcuserdata/
Math challenge.xcodeproj/project.xcworkspace/xcshareddata/
Math Challenge.xcworkspace/xcshareddata/
Math Challenge.xcworkspace/xcuserdata/

Pods/
